{% extends 'base.html' %}

{% block content %}

  <div class="container w-50">
  	<h2>Books</h2>
  	<p><a href="{% url 'whynote:upload_book' %}" class="btn btn-warning">
	  Upload book
	</a></p>
	<table class="table table-hover">
	  <thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Download</th>
		</tr>
	  </thead>
	  <tbody>
	  	{% for book in books %}
	  	<tr>
	  	  <td>{{ book.title }}</td>
	  	  <td>{{ book.author }}</td>
	  	  <td>
	  	  	<a href="{{ book.pdf.url }}" class="btn btn-warning btn-sm">
	  	  		Download PDF
	  	  	</a>
	  	  </td>
	  	</tr>
	  	{% endfor %}
	  </tbody>
	</table>
    </div>

{% endblock %}