{% extends 'base.html' %}
{% block content %}

	<h1>
		WhyNote
	</h1>
	<div class="wrapper-header">
    <div class = "grid-item header date">
        <p></p>
      </div>
  		<div class = "grid-item header calendar">
  			<a href="{% url 'whynote:calendar_button' %}">Calendar</a>
  		</div>
  		<div class = "grid-item header folders">
  			<h3> Folders' names </h3>
  		</div>
      <div class = "grid-item header button">
        <a href="{% url 'whynote:post_new' %}"> + </a>
      </div>
  		<div class = "grid-item header settings">
  			<h3> Settings </h3>
  		</div>
  	</div>
<main>
<div class="wrapper-body">
	<div class="grid-item body maprout">
  		<h3>Folders</h3>
  			<p>
  				<div class="dropdown">
          <span>Math</span>
          <div class="dropdown-content">
            <a href = "{% url 'whynote:folder' %}"><p>Geometry</p></a>
            <a href = "{% url 'whynote:folder' %}"><p>Calculus</p></a>
            <a href = "{% url 'whynote:folder' %}"><p>Algebra</p></a>
          </div>
        </div>
  			</p>
  	</div>
  	<div class="grid-item body notefield">
<ul>
		{% for nt in latest_notes %}
		<li><a href="{% url 'whynote:detail' nt.id %}" >
		 {{nt.note_title}}</a>
     <p> {{nt.public_date}} </p>
    </li>
	  {% endfor %}
</ul>
    
	</div>
  <div class = "grid-item body settings">
        <a href = "{% url 'whynote:tab_set' %}">Text and background</a>
  </div>
</main>

  <footer class="page-footer">
    <div class="footer-container">
        <div class="footer-child copyright">
          WhyNote © 2020 All Rights Reserved
        </div>
        <div class="footer-child footer-links">
          Privacy Policy
		  FAQ
          <div>
            <small>Made by WhyNote Team
            </small>
        </div>
      </div>
    </div>
  </footer>

</html>
{% endblock %}