{% extends 'base.html' %}

{% block content %}

	<h1 style="font-family: Montserrat, sans-serif">
		WhyNote
	</h1>
	<div class="wrapper-header">
  		<div class = "grid-item header calendar">
  			<a href="{% url 'whynote:calendar_button' %}" 
  			style="font-family:Montserrat, sans-serif; text-decoration: none;
  			background-color: #575757;
  			color: white; padding: 1em 1em;">
  				Calendar
  			</a>
  		</div>
  		<div class = "grid-item header folders">
  			<h3 style="font-family:Montserrat, sans-serif; padding: 0em 1em">		Folders' names
  			</h3>
  		</div>
  		<div class = "grid-item header settings">

  			<h4 style="font-family:Montserrat, sans-serif; padding: 0em 0.6em">Settings</h4>
        
  		</div>
  	</div>
<main>
<div class="wrapper-body">
	<div class="grid-item body maprout">
  		<h4 style="font-family:Montserrat, sans-serif">Folders</h4>
  			<p style="font-family:Montserrat, sans-serif">
        <font style="font-family:fantasy; color:#B57EDC;">
  				<div class="dropdown">
          <span>Math</span>
          <div class="dropdown-content">
            <a href = "{% url 'whynote:folder' %}"><p>Geometry</p></a>
            <a href = "{% url 'whynote:folder' %}"><p>Calculus</p></a>
            <a href = "{% url 'whynote:folder' %}"><p>Algebra</p></a>
          </div>
        </div>
        <div class="dropdown">
          <span>Biology</span>
          <div class="dropdown-content">
            
              <a href = "{% url 'whynote:folder' %}"><p>Skin</p></a>
              <a href = "{% url 'whynote:folder' %}"><p>Bones</p></a>
              <a href = "{% url 'whynote:folder' %}"><p>Heart</p></a>
            
          </div>
        </div>
        </font>
  			</p>
  	</div>
  	<div class="grid-item body notefield">
  		<h3 style="font-family:Montserrat, sans-serif; padding: 0em 1em;">
  			Notes
  		</h3>
		{% for nt in latest_notes %}
		<a href="{% url 'whynote:detail' nt.id %}" style="font-family:Montserrat, sans-serif; color:#FB573D; padding: 0em 1.25em;
			text-decoration: none;
		 	text-align: center">
		 {{nt.note_title}}</a><br>
	  {% endfor %}

    <div class = "grid-item body add_note_button">
        <a href="{% url 'whynote:post_new' %}" 
        style="font-family:Montserrat, sans-serif; text-decoration: none;
        background-color: #575757;
        color: red; padding: 0.25em 0.5em;margin: 20%; margin-top: 30%">
          +
        </a>
      </div>
    
	</div>
  <div class = "grid-item body settings">
        <a href = "{% url 'whynote:tab_set' %}">Text and background</a>
            
          
    </div>
  </div>
  </div>
</main>
</main>
  <footer class="page-footer">
    <div class="footer-container">
      <div class="row">
        <div class="footer-child copyright">
          WhyNote © 2020 All Rights Reserved
        </div>
        <div class="footer-child footer-links">
          Privacy Policy
		  FAQ
          <div>
            <small>Made by WhyNote Team
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer>

</html>
{% endblock %}