{% extends 'base.html' %}

{% block content %}

  <div class = "container">
    <div class = "row">
      <div class="col-2"><h4>Folders</h4></div>
      <div class="col-9">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-info" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
            <a class="nav-item nav-link text-info" id="nav-profile-tab" data-toggle="tab" href="#nav-f2" role="tab" aria-controls="nav-f2" aria-selected="false">Folder 2</a>
          </div>
      </nav>
      </div>
      <div class="col-1"><a class="btn btn-warning" href="{% url 'whynote:post_new' %}">Create</a></div>
    </div>
    <div class="row" >
      <div class="col-2"></div>
      <div class="col-9 main">
        <div class="tab-content" id="nav-tabContent" >
          <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab" >
        <div class="row row-cols-1 row-cols-md-3"  >

          {% for nt in latest_notes %}
            <div class="col mb-3">
              <div class="shadow-sm p-1 mb-5">
              <div class="card h-50 border-dark mb-3 text-dark" style="max-width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title"> 
                    <a class="text-info" href="{% url 'whynote:detail' nt.id %}">{{nt.note_title}} </a>
                  </h5>
                  <p class="card-text">{{nt.preview}}</p>
                  </div>
                  <div class="card-footer bg-transparent border-dark">{{nt.public_date}}</div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
      <div class="tab-pane fade" id="nav-f2" role="tabpanel" aria-labelledby="nav-f2-tab">Hi</div>
      </div>
      </div>
      <div class="col-1"></div>
    </div>

  </div>

  <footer class="page-footer">
    <div class="footer container">
      <div class="row">
        <div class="col-6 footer-child copyright  ">
        <p class="text-right">WhyNote © 2020 All Rights Reserved</p>
        </div>
        <div class="col-6 footer-child footer-links ">
          <p class="text-right">Privacy Policy FAQ</p>
          <div>
            <small >Made by WhyNote Team
            </small>
        </div>
      </div>
    </div>
  </div>
  </footer>

</html>
{% endblock %}