<!DOCTYPE html>
<html lang="en">
<head>
  	<h1>WhyNote</h1>
    <link rel="stylesheet" href="sitemaster.css" type="text/css">
    <title>WhyNote</title>
</head>
<header class="fixed-top page-header">
  	<div class="wrapper-header">
  		<div class = "grid-item header calendar">
  			<p>Calenadar
  			</p>
  		</div>
  		<div class = "grid-item header folders">
  			<p>Folders' names</p>
  		</div>
  		<div class = "grid-item header settings">
  			<p> Settings</p>
  		</div>
  	</div>
</header>

<body bgcolor=#E8E8E8>
  <main>
  <div class="wrapper-body">
  	<div class="grid-item body maprout">
  		<p>Folders
  			<p>
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			</p>
  		</p>
  	</div>
  	<div class="grid-item body notefield">
  		<p>Notes
  			<p>
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			</p>
  		</p>

  	</div>
  	<div class="grid-item body toolbar">
  		<p>Tools
  		<p>
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. 
  			</p>
  		</p>
  	</div>
  </div>
</main>
  <footer class="page-footer">
    <div class="footer-container">
      <div class="row">
        <div class="footer-child copyright">
          WhyNote © 2020 All Rights Reserved
        </div>
        <div class="footer-child footer-links">
          Privacy Policy
		  FAQ
          <div>
            <small>Made by WhyNote Team
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>