{% load static %}
<!DOCTYPE html>
<html lang="en">
<font color = black style = "font-family: 'Oswald', 'Futura', sans-serif;">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

 <link rel="stylesheet" href="{% static 'sitemaster.css' %}" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <title>{% block title %}Whynote{% endblock %}</title>

</head>
<style type="text/css">
  
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

h1, h2, h3, h4, h5{
	text-align: center;
}

a{
  text-decoration: none;
  color: black;
}
.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
</style>


{% block style %}
  <style type="text/css">
  </style>
 {% endblock %}

<body>
<header class="fixed-top page-header">
<div class="shadow p-1 mb-5 bg-dark" id="navbar_top">
  <nav class="navbar navbar-expand-lg navbar-custom navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="{% url 'first:home' %}" style="font-size: 30px">Whynote</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">

                  </span>
            </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
  <ul class="navbar-nav mr-auto text-right">    
          {% if user.is_authenticated %}
            <li class="nav-item"><a class = "nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'first:user_login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'first:register' %}">Register</a></li>
          {% endif %}
          {% if user.is_authenticated %}
     <li class="nav-item">
      <a class="nav-link" href="{% url 'first:calendar_button' %}">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'first:book_list' %}">Files</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href ="#" >Text and background</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
  </ul>
  </div>
  </div>
  </nav>
  </div>
</header>
<div class = "container" style="padding-top: 110px;">
 {% block content %}

 {% endblock%}
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function() {
    // executes when HTML-Document is loaded and DOM is ready
	console.log("document is ready"); 
	$( ".card" ).hover(
	  function() {
	    $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
	  }, function() {
	    $(this).removeClass('shadow-lg');
	  }
	);
	// document ready  
	});
  </script>
</body>
</font>
</html>