body {
font-family: Montserrat, sans-serif;
background-color: #F2F3F4;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.calendar {
  caption-side: top;
  padding: 0;
}
.month {
  padding: 1rem;
  background: #1abc9c;
  text-align: center;
}
.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}
#calendar>tbody>tr>td {
  padding: 0;
}
#calendar .card, #calendar .card-header{
  border: 0;
  border-radius: 0;
}

#calendar .active .card-header {
  background: #1abc9c;
}

.card{
  height: 150px;
}

.card-text{
    font-size:19px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dayurl > a{
  text-decoration: none;
  color: black;
}

.list-numbered {
  list-style: none;
  counter-reset: line;
}

.list-numbered > li {
  position: relative;
  margin-bottom: 1.5em;
}

.list-numbered > li:before {
  position: absolute;
  left: -2.25em;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 0.5em;
  background-color:  #626567;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.25em;
  counter-increment: line;
  content: counter(line);
}

a {
  color: #17a2b8;
  text-decoration: none;
}