h1, h2, h3, h4,p{
  font-family: Montserrat, sans-serif;
}

h1{
    font-size: 40px;
    text-shadow: #FFFFFF;
}

body {
    font-family: Montserrat, sans-serif; 
    background-color: #E8E8E8
}

.page-footer .footer-links {
  text-align: right;
}

.wrapper-body{
	display: grid;
	grid-template-columns: 25% 60% 15%;
	grid-template-rows: ;
	border-bottom: 1px solid #dfdfdf;
}
.wrapper-header{
  display: grid;
  grid-template-columns: 15% 10% 55% 5% 15%;
  grid-template-rows: ;
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}

.grid-item{
	border-right:1px solid #dfdfdf;
}

.maprout, .notefield, .toolbar{
	overflow: auto;
	height: 350px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.button,.calendar{
  text-align: center;
  border-radius: 10px;
  background-color: #575757;
  height: 40px;
}

.button a{
  font-size: 300%;
  text-align: center;
  font-family: Montserrat, sans-serif; 
  color: white;
  text-decoration: none;
}

.calendar a{
  font-size: 140%;
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}

.date{
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 40px;
}

.notefield ul,li{
  list-style:none;
}
.notefield ul{
  overflow:hidden;
  padding-top:0.5em;
}
.notefield ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:9em;
  width:9em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.notefield ul li{
  margin:1.2em;
  float:left;
}
.notefield ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.notefield ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:100%;
  font-style: italic;
}

.notefield ul li:nth-child(even) a{
  position:relative;
  background:#A3E4D7;
}
.notefield ul li:nth-child(3n) a{
  position:relative;
  background:#ccf;
}
.notefield ul li:nth-child(5n) a{
  position:relative;
}
.notefield ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  position:relative;
  z-index:5;
}

.settings a{
  font-family:Montserrat, sans-serif;
  font-size: 14px;
  padding: 0.5em 0.5em;
  font-weight: bold;
  color: #B33D2F;
  text-align: center;
  text-decoration: none;
}

ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}