h1, h2, h3, h4, p{
  font-family: 'Oswald', 'Futura', sans-serif;
}

h1{
    font-size: 40px;
    text-shadow: #FFFFFF;
}

h2 {
  text-align: center;
}

body {
    background: #dfdfdf;
}

a{
  text-decoration: none;
}

.navbar-expand-lg{
  background-color: black;
}

.files{
  text-align: center;
}

.files p{
  font-size: 18px;
}